.Rproj.user
.Rhistory
.RData
.Ruserdata
docs
data/raw/vannmiljo/Vm_Copper*.xlsx
data/raw/vannmiljo/Vm_Output_Data_Q1_2025.xlsx
data/raw/vannmiljo/~$VM_Activties_MGR_Comments.xlsx
inst/example_datasets/*.xlsx
*_cache/
inst/shapefiles